services:
  app:
    build: .
    container_name: rails_app
    working_dir: /app
    command: bundle exec rails server -b 0.0.0.0 -p 3000
    volumes:
      - ./app:/app
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgresql://postgres:password@db:5432/app_development
      REDIS_URL: redis://redis:6379/0
      PORT: 3000
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_development
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"

  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-lifecycle"
    ports:
      - "9090:9090"
    depends_on:
      - app
      - db
      - redis
      - postgres_exporter
      - redis_exporter
      - cadvisor

  grafana:
    image: grafana/grafana:11.0.0
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning

  postgres_exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.15.0
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: postgresql://postgres:password@db:5432/app_development?sslmode=disable
    depends_on:
      - db
    ports:
      - "9187:9187"

  redis_exporter:
    image: oliver006/redis_exporter:v1.64.0
    container_name: redis_exporter
    command:
      - "--redis.addr=redis://redis:6379"
    depends_on:
      - redis
    ports:
      - "9121:9121"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.2
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

volumes:
  pgdata:
